/* .App {
  text-align: center;
  font-family: sans-serif;
} */

.btn-sz-lg {
  font-size: 28px;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  width: 340px;
}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.navlink {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.movie-details-container {
  max-width: 800px;
}

.notfound {
  width: 50%;
  object-fit: cover;
}

.movie-operation {
  display: flex;
  justify-content: space-between;
}
