/* .App {
  text-align: center;
  font-family: sans-serif;
} */

.btn-sz-lg {
  font-size: 28px;
}

.movies-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  width: 340px;
}

.movie-poster {
  width: 340px;
  height: 200px;
  object-fit: cover;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
